<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gemenerascion</title>
</head>
<body>
    <h1>Hola</h1>
    <% if (!locals.currentUser) { %>
      <a href="/login">Log In NOW!</a>
      <a href="/signup">Or sign up please ❤️</a>
    <% } else { %>
      <h1>Welcome, <%= currentUser.email %></h1>
      <a href="/files/upload">Upload file</a>
      <a href="/folders">All folders</a>
      <a href="/folders/create">Create folder</a>
      <a href="/logout">Log out</a>
    <% } %>
</body>
</html>