<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File detail</title>
</head>
<body>
  <h1><%= file.name %></h1>
  <p>Uploaded: <%= file.date %></p>
  <p>Size: <%= file.size %></p>
  <button type="button">Download</button>
</body>
</html>