<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All folders</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=edit" />
</head>
<body>
  <% if (folders.length > 0) { %>
    <ul>
      <% folders.forEach((folder) => { %>
        <li>
          <a href="/folders/<%=folder.id%>"><%= folder.name %></a>
          <a href="/folders/update/<%=folder.id%>">
            <span class="material-symbols-outlined">
              edit
            </span>
          </a>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>
      No folders yet!
      <a href="/folders/create">
        Create folder
      </a>
    </p>
  <% } %>
</body>
</html>