<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All folders</title>
</head>
<body>
  <% if (folders.length > 0) { %>
    <ul>
      <% folders.forEach((folder) => { %>
        <li>
          <a href="/folders/<%=folder.id%>"><%= folder.name %></a>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>
      No folders yet!
      <a href="/folders/create">
        Create folder
      </a>
    </p>
  <% } %>
</body>
</html>