<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in</title>
</head>
<body>
  <main>
    <form action="/login" method="POST">
      <h1>Log in</h1>
      <section>
        <p>
          <label for="email">Email</label>
          <input type="text" id="email" name="email" value="<%= locals.previousValues?.email %>" required autofocus>
          <span class="error" role="alert" aria-live="polite">
            <%= locals.errors?.find((error) => error.path === "email")?.msg %>
          </span>
        </p>
        <p>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" value="<%= locals.previousValues?.password %>" required>
          <span class="error" role="alert" aria-live="polite">
            <%= locals.errors?.find((error) => error.path === "password")?.msg %>
          </span>
        </p>
      </section>
      <section>
        <button type="submit">Log in</button>
      </section>
    </form>
  </main>
</body>
</html>