<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in</title>
</head>
<body>
  <main>
    <form>
      <h1>Log in</h1>
      <section>
        <p>
          <label for="email">Email</label>
          <input type="text" id="email" name="email" required autofocus>
        </p>
        <p>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
        </p>
      </section>
      <section>
        <button type="submit">Log in</button>
      </section>
    </form>
  </main>
</body>
</html>