<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add a file</title>
  <script src="/js/uploadForm.js" defer></script>
</head>
<body>
  <form action="/files/upload" method="POST" enctype="multipart/form-data" novalidate>
  <h1>Upload file</h1>
  <section>
    <p>
      <label for="name">Restaurant</label>
      <input type="text" name="name" id="name" maxlength="255" value="<%= locals.previousValues?.name %>" required>
      <span class="error" role="alert" aria-live="polite">
        <%= locals.errors?.find((error) => error.path === "name")?.msg %>
      </span>
    </p>
    <p>
      <label for="images">Files:</label>
      <input type="file" name="images" id="images" multiple="true" required>
      <span class="files-counter">
        <span class="file-count">0</span>/8 files
      </span>
      <span class="error" role="alert" aria-live="polite">
        <%= locals.errors?.find((error) => error.path === "images")?.msg %>
      </span>
    </p>
  </section>
  <section>
    <button type="submit">Upload</button>
  </section>
</form>
</body>
</html>