form {
  max-width: 24rem;
  margin: 3rem auto 0 auto;
  padding: 1rem;
}

.logo-circle {
  pointer-events: none;
  display: block;
  font-family: "angleciaprodisplay", serif;
  font-size: 3rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.4rem;
  margin: auto;
}

.logo-circle,
h1 {
  text-align: center;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

input {
  font-size: 1rem;
  border: 1px solid #d1d9e0;
}

input,
button {
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  padding: 0.25rem 0.75rem;
}

button {
  font-size: 0.9rem;
  font-weight: 500;
  align-content: center;
  background-color: #1f883d;
  color: #fff;
  border: 1px solid #1f232826;
  line-height: 1.25rem;
  margin-top: 0.5rem;
}

button:hover {
  cursor: pointer;
  background-color: #1c8139;
}

.link-redirect {
  text-align: center;
  font-size: 0.9rem;
}

.link-redirect a {
  color: #0969da;
}

.link-redirect a:hover {
  text-decoration: underline;
}
