@font-face {
  font-family: "angleciaprodisplay";
  src:
    url("/fonts/angleciaprodisplay-webfont.woff2") format("woff2"),
    url("/fonts/angleciaprodisplay-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-background-color: #fff;
  --secondary-background-color: #f9faf0;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --default-button-background: #e2e5e9;
  --default-button-hover-background: #d2d4d8;
  --border-radius: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
ul {
  padding: 0;
  margin: 0;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: var(--secondary-background-color);
}

header {
  background-color: var(--main-background-color);
  box-shadow: var(--box-shadow);
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

.error {
  margin-top: 0.25rem;
  color: #ce2b2b;
}

.hidden {
  display: none !important;
}

/* if the body doesn't have an overlay with the "hidden" class */
body:has(.overlay:not(.hidden)) {
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}
