@font-face {
  font-family: "angleciaprodisplay";
  src:
    url("/fonts/angleciaprodisplay-webfont.woff2") format("woff2"),
    url("/fonts/angleciaprodisplay-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body,
ul {
  padding: 0;
  margin: 0;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

header {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

ul {
  display: flex;
  align-items: center;
  height: 3.5rem;
  padding: 0 1rem;
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}
