main {
  margin: 0 1rem;
}

h2 {
  margin: 0 0 1rem 0;
}

.heading-container,
.add-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-link {
  background-color: var(--default-button-background);
  border-radius: 5px;
  padding: 0.35rem 0.75rem;
}

.add-link:hover {
  background-color: var(--default-button-hover-background);
}

.add-link:active {
  background-color: var(--default-button-background);
}

.add-link .material-symbols-outlined {
  margin-right: 0.5rem;
}

.list {
  max-width: 56.25rem;
  margin: 2.5rem auto 0 auto;
}

.post-li,
.delete-form,
.share-form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.post-li:hover .list-options {
  display: block !important;
}

.post-li:hover .images-options {
  display: flex !important;
}

.post-li h2 a {
  color: #0969da;
}

.post-li h2 a:hover {
  text-decoration: underline;
}

.list li,
.end-li {
  position: relative;
}

.end-li {
  text-align: center;
  margin: 1.5rem 0;
}

.end-li p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-li p::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #d1d9e0;
  z-index: -1;
}

.end-li span {
  display: inline;
  padding-inline: 0.5rem;
  background-color: var(--secondary-background-color);
}

.images-container {
  max-width: 80%;
  height: 19rem;
  margin: 0 auto;
}

.images-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.images-options {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.images-options button {
  background-color: var(--default-button-background);
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.images-options button:hover,
.form-cancel-button:hover {
  cursor: pointer;
  background-color: var(--default-button-hover-background);
}

.images-options button:active,
.form-cancel-button:active {
  background-color: var(--default-button-background);
}

.images-options button:disabled {
  pointer-events: none;
  opacity: 0.3;
}

.images-options .material-symbols-outlined {
  font-size: 2.5rem;
}

.images-options .arrow-back {
  margin-left: 0.35rem;
  margin-top: 0.1rem;
}

.images-options .arrow-forward {
  margin-left: 0.15rem;
  margin-top: 0.15rem;
}

.list-options {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.delete-button,
.form-cancel-button,
.form-delete-button {
  color: #fff;
  background-color: #ce2b2b;
  border: none;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
}

.delete-button:hover,
.form-delete-button:hover {
  cursor: pointer;
  background-color: #bb2727;
}

.delete-button:active,
.form-delete-button:active {
  background-color: #ce2b2b;
}

/* afterwards do mobile styling */

.delete-form,
.share-form {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  max-width: 41rem;
  padding: 1rem;
  margin-bottom: 0;

  z-index: 999;
}

.delete-form h1,
.share-form h1 {
  margin: 0 0 1rem 0;
}

.button-options {
  display: flex;
  justify-content: flex-end;
}

.form-cancel-button {
  color: #000;
  background-color: var(--default-button-background);
  margin-right: 1rem;
}

.form-cancel-button,
.form-delete-button,
.form-share-button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.form-share-button,
.folders-list .list-options > *:not(:last-child) {
  background-color: #dae4ba;
  border: none;
  border-radius: 5px;
}

.form-share-button:hover,
.folders-list .list-options > *:not(:last-child):hover {
  cursor: pointer;
  background-color: #ccd5ae;
}

.form-share-button:active,
.folders-list .list-options > *:not(:last-child):active {
  background-color: #dae4ba;
}

#duration {
  font-size: 1rem;
  background-color: #ececec;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 3rem 0.5rem 1rem;
}

.folders-list .list-options > * {
  margin-right: 0.5rem;
}

.folders-list .list-options > *:not(:last-child) {
  padding: 0.25rem 0.5rem;
}

.folders-list .list-options a {
  display: inline-block;
}

.folder-detail {
  font-size: 0.9rem;
  color: #59636e;
  margin: 0;
}

.folder-detail span:not(:last-child)::after {
  content: " · ";
  margin: 0 0.25rem;
}
