.header-ul {
  height: 3.5rem;
}

.post-folder-options .menu-icon {
  font-size: 2rem;
  line-height: normal;
  margin-right: 1rem;
}

.option-links {
  position: absolute;
  top: 3.5rem;

  background-color: var(--main-background-color);
  border-radius: var(--border-radius);
  width: calc(100% - 1rem);
  max-width: 22.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow: var(--box-shadow);
}

.post-folder-links {
  left: 0;
  right: 0;
}

.user-links {
  right: 0;
}

.option-links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.option-links li {
  width: 100%;
}

.option-links a {
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.option-links a:hover {
  background-color: #f0f0f0;
}

.option-links .material-symbols-outlined {
  font-variation-settings: "FILL" 1;
  font-size: 1.5rem;
  background-color: #e2e5e9;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0.5rem;
}

.logo {
  font-family: "angleciaprodisplay", serif;
  font-size: 2rem;
  font-weight: 600;
}

.food-emojis-li {
  display: none;
}

.user-options {
  margin-left: auto;
}

.profile-picture {
  height: 2.5rem;
  margin-top: 0.25rem;
}

.user-options .links {
  display: none;
}

/* Shared CSS */
.post-folder-options .menu-icon:hover,
.profile-picture:hover {
  cursor: pointer;
}

@media (min-width: 750px) {
  .logo-li {
    order: -1;
  }

  .post-folder-options {
    margin-left: auto;
  }

  .post-folder-options .menu-icon {
    display: none;
  }

  .post-folder-links {
    display: block;
    position: static;
    background-color: transparent;
    border-radius: 0;
    width: auto;
    max-width: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
  }

  .post-folder-links ul {
    flex-direction: row;
    align-items: center;
  }

  .post-folder-links li {
    border-bottom: 1px solid transparent;
    width: auto;
    margin-right: clamp(1rem, 2vw, 2rem);
  }

  .post-folder-links li:hover {
    border-color: #000;
    transition: border-color 0.5s ease;
  }

  .post-folder-links a .material-symbols-outlined {
    display: none;
  }

  .post-folder-links a:hover {
    background-color: transparent;
  }

  .user-options {
    margin-left: 0;
  }
}

@media (min-width: 1000px) {
  .food-emojis-li {
    display: block;
    margin: 0 auto;

    order: -1;
  }

  .emoji {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: clamp(0.5rem, 6vw, 2.5rem);
  }

  .emoji:hover {
    cursor: default;
    animation:
      wiggle 2s infinite,
      scale 2s infinite alternate;
  }

  .post-folder-options {
    margin-left: 0;
  }
}

@keyframes wiggle {
  0% {
    transform: scale(1.5) rotate(0deg);
  }
  25% {
    transform: scale(1.5) rotate(5deg);
  }
  50% {
    transform: scale(1.5) rotate(0deg);
  }
  75% {
    transform: scale(1.5) rotate(-5deg);
  }
  100% {
    transform: scale(1.5) rotate(0deg);
  }
}
