main {
  margin: 0 1rem;
}

form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  max-width: 30rem;
  padding: 1.5rem;
  margin: 3.5rem auto 1rem auto;
}

h1 {
  margin: 0;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

label,
input {
  display: block;
}

.name-input {
  font-size: 1rem;
  border: 1px solid #d1d9e0;
}

.name-input,
.images-label,
button {
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  padding: 0.25rem 0.75rem;
}

.select-input,
.images-label {
  font-size: 1rem;
  background-color: #ececec;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 3rem 0.5rem 1rem;
}

.select-input:hover,
.images-label:hover {
  cursor: pointer;
  background-color: #dddddd;
}

.images-label {
  text-align: center;
  margin: 0.5rem 0 0 0;
}

.images-input {
  display: none;
}

.submit-button {
  font-size: 0.9rem;
  font-weight: 500;
  align-content: center;
  background-color: #1f883d;
  color: #fff;
  border: 1px solid #1f232826;
  line-height: 1.25rem;
  margin-top: 1rem;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #1c8139;
}
