main {
  margin: 0 1rem;
}

form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  max-width: 30rem;
  padding: 1.5rem;
  margin: 3.5rem auto 1rem auto;
}

h1 {
  margin: 0;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

label,
input {
  display: block;
}

.name-input {
  font-size: 1rem;
  border: 1px solid #d1d9e0;
}

.name-input,
.images-label,
button {
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  padding: 0.25rem 0.75rem;
}

.select-input,
.images-label {
  font-size: 1rem;
  background-color: #ececec;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 3rem 0.5rem 1rem;
}

.select-input:hover,
.images-label:hover {
  cursor: pointer;
  background-color: #dddddd;
}

.images-label {
  text-align: center;
  margin: 0.5rem 0 0 0;
}

.images-input {
  display: none;
}

.images-previews {
  position: relative;
  height: 12.5rem;
}

.images-container {
  text-align: center;
  height: 12.5rem;
}

.images-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.images-previews:hover .images-options {
  display: flex;
}

.images-options {
  position: absolute;
  left: 0;
  right: 0;
  top: 46%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.images-options button {
  background-color: var(--default-button-background);
  border: none;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem !important;
}

.images-options button:hover,
.form-cancel-button:hover {
  cursor: pointer;
  background-color: var(--default-button-hover-background);
}

.images-options button:active,
.form-cancel-button:active {
  background-color: var(--default-button-background);
}

.images-options .material-symbols-outlined {
  font-size: 1rem;
}

.images-options .arrow-back {
  margin-left: 0.15rem;
}

.images-options .arrow-forward {
  margin-left: 0.1rem;
  margin-top: 0.025rem;
}

.submit-button {
  font-size: 0.9rem;
  font-weight: 500;
  align-content: center;
  background-color: #1f883d;
  color: #fff;
  border: 1px solid #1f232826;
  line-height: 1.25rem;
  margin-top: 1rem;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #1c8139;
}

.submit-button:active {
  background-color: #1f883d;
}

@media (min-width: 530px) {
  .images-options {
    padding: 0 1.5rem;
  }
}
