<form action="" method="POST" class="delete-form hidden">
  <h1>Delete <%= subject === "folders" ? "folder" : "post" %>?</h1>
  <p>This action cannot be undone, so please proceed with caution.</p>
  <div class="button-options">
    <button type="button" class="form-cancel-button">Cancel</button>
    <button type="submit" class="form-delete-button">Delete</button>
  </div>
</form>